/* CSS Variables */
:root {
  --white: #fff;
  --primary: #df6751;
  --secondary: #fe8b75;
  --header-txt: #191d23;
  --p: #75797f;
  --bg-grey: #f8f9fb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body{
  min-width: 200px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* make nabvar responsive again */
.menu {
  justify-content: space-evenly;
  list-style-type: none;
}

.menu>li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

li>a:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
}
/* Make image expand with it's div */
/* when in a mobile device, content get out of the div */
.header-image {
  background-image: url("/assets/header-bg.png");
  background-size: cover;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: antiquewhite;
  top: 20%;
}

.header-content>h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50pt;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;

}

.header-content>p {
  font-weight: lighter;
  text-align: center;
  margin: 0 20%;
}

.title {
  color: antiquewhite;
  font-weight: bold;
}

.top-bar {
  justify-content: space-between;
  padding: 1.5em 30px;
  height: 100vh;
}

.items-center {
  display: flex;
  justify-content: center;
}

.color-btn {
  padding: 15px 25px;
  margin: 2px 2px;
  gap: 20px;
  height: 49px;
  background: var(--primary);
  border-radius: 43px;
}

color-btn:hover {
  background: var(--secondary);
}

#header-content-btn {
  margin-top: 50px;
}

#menu {
  background-color: var(--bg-grey);
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 0px 100px;
}

.foods-menu h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 20px;
  color: var(--header-txt);
}

.foods-menu>p {
  color: var(--p);
  font-weight: lighter;
  text-align: center;
  margin: 0 20%;
}

.cards {
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 40px;
  /* padding: 60px; */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 20rem;
  height: 25rem;
  background: #ffffff;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.card>p {
  margin: 5px;
}

.card img {
  width: 15rem;
  height: 150px;
  margin-bottom: 40px;
}

#pizza {
  display: flex;
  align-items: center;
  height: 100vh;
}

#pizza>div>h2 {
  color: var(--header-txt);
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-bottom: 50px;
}

#pizza>div>p {
  font-size: 1rem;
  font-weight: 100;
  color: var(--p);
}

.margin-text {
  margin-bottom: 25px;
}

#pizza-content {
  padding: 40px 0 40px 0;
  margin: auto;
  width: 40vw;
  height: auto;
}

#pizza-img {
  width: 45%;
  height: auto;
  object-fit: cover;
  padding: 5% 0 5% 10%;
}

#pizza-text {
  display: flex;
  flex-direction: column;
}

#pizza-text>nav {
  flex-direction: row;
}

button {
  border: 0;
  color: #f8f9fb;
  cursor: pointer;
}

#food-of-the-month {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#food-of-the-month > h2{
  font-family: "Times New Roman", Times, serif;

}

.food-month-cards {
  flex-wrap: wrap;
  justify-content: space-around;
  padding: auto;
}

.food-month-card {
  margin: 30px 20px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);

}

.food-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  width: 17rem;
  height: 25rem;
}

.food-month-card>img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.food-month-card>p {
  max-width: 90%;
  justify-content: center;
}

.food-title {
  font-weight: bold;
}

footer {
  background-color: #f2f2f2;
  padding: 30px;
  text-align: center;
}

footer h2 {
  margin-bottom: 20px;
  color: #333333;
}

footer p {
  margin-bottom: 20px;
  color: #666666;
  font-size: 14px;
}

.social-media {
  margin-bottom: 20px;
}

.social-media img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

footer p:last-child {
  margin-bottom: 0;
  font-size: 12px;
  color: #999999;
}
@media only screen and (max-width: 900px) {
  .header-content h2 {
    font-size: 50px;
  }

  .header-content p {
    font-size: 14px;
  }

  #pizza h2 {
    font-size: 10px;
  }

  .card p {
    font-size: 14px;
  }
}

/* styles for small screens (less than 768px) */
@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .hamburger{
    display: block;
  }

  .header-content {
    text-align: center;
  }

  .header-content h2 {
    font-size: 28px;
  }

  .header-content p {
    font-size: 16px;
    width: 90%;
  }

  #header-content-btn {
    margin: 20px auto 0;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin: 10px auto;
  }

  #pizza-content {
    width: 90%;
    height: auto;
  }

  #pizza>div>h2 {
    color: var(--header-txt);
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
    margin-bottom: 50px;
  }

  #pizza .pizza-text {
    display: flex; /* display flex container */
    justify-content: center; /* center elements horizontally */
    align-items: center; /* center elements vertically */
  }
  #pizza nav {
    display:none ;
  }

  #pizza-img {
    display: none;
  }
}

/* styles for extra small screens (less than 480px) */
@media only screen and (max-width: 480px) {
  .header-content h2 {
    font-size: 35px;
  }

  .header-content p {
    font-size: 14px;
  }

  #pizza h2 {
    font-size: 10px;
  }

  .card p {
    font-size: 14px;
  }
}